{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["react", "react-hooks", "prettier"],
  "rules": {
    "prettier/prettier": "error"
  }
}
